<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake News Detection Home</title>
</head>
<body>
    <header>
        <div class="container">
        <h2>
            Fake News Detector
        </h2>
        </div>
    </header>

    <div class="ml-container">
        <form action="{{ url_for('predict') }}" method="POST">
            <p>
                Enter the News Title here
            </p>
            <textarea name="message" rows="3" cols="50"></textarea>

            <br/>

            <input type="submit" class="btn-info" value="predict">
        </form>
    </div>

</body>
</html>